<p class="font-weight-bold">Get "Attribute" of "House"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Address</option>
            <option>Campus Location</option>
            <option>Max Occupancy</option>
            <option>Meal Plan Service</option>
            <option>Summer Availability</option>
        </select>
    </div>
</div>
<p class="font-weight-bold">Get "Relationship" of "House"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Living In</option>
        </select>
    </div>
</div>
<p class="font-weight-bold">Add a House</p>
<div class="row">
    <div class="col-md-auto">
        <label>Address</label>
        <input type="text" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Campus Location</label>
        <select class="form-control form-control-sm">
            <option>Northside</option>
            <option>Southside</option>
        </select>
    </div>
    <div class="col-md-auto">
        <label>Max Occupancy</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Meal Plan Service</label>
        <input type="text" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Summer Housing</label>
        <select class="form-control form-control-sm">
            <option>true</option>
            <option>false</option>
        </select>
    </div>
</div>