<p class="font-weight-bold">Get "Attribute" of "Philanthropy"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Event Name</option>
            <option>Date</option>
            <option>Cause</option>
            <option>Partners</option>
            <option>Money Raised</option>
            <option>Ticket Price</option>
            <option>Total Attendance</option>
            <option>Budget</option>
            <option>Location</option>
        </select>
    </div>
</div>
<p class="font-weight-bold">Get "Relationship" of "Philanthropy"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Hosts</option>
            <option>Attends</option>
        </select>
    </div>
</div>
<p class="font-weight-bold">Add a Philanthropy</p>
<div class="row">
    <div class="col-md-auto">
        <label>Event Name</label>
        <input type="text" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Date</label>
        <input type="date" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Cause</label>
        <input type="date" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Partners</label>
        <input type="date" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Money Raised</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Ticket Price</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Total Attendance</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Budget</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Location</label>
        <input type="string" class="form-control form-control-sm" required>
    </div>
</div>