<p class="font-weight-bold">Get "Attribute" of "Philanthropy"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm" id="attribute">
            <option>Cause</option>
            <option>Partners</option>
            <option>Money Raised</option>
            <option>Ticket Price</option>
            <option>Total Attendance</option>
            <option>Budget</option>
            <option>Location</option>
        </select>
    </div>
    <p>of Philanthropy with the event name</p>
    <div class="col-md-auto">
        <input type="text" class="form-control form-control-sm" required id="name1">
    </div>
    <p>and date</p>
    <div class="col-md-auto">
        <input type="date" class="form-control form-control-sm" required id="date1">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="attributeQuery()">Submit Get Attribute Query</button>
<p class="font-weight-bold">Get "Relationship" of "Philanthropy"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Host(s)</option>
            <option>Attendees</option>
        </select>
    </div>
    <p>of Philanthropy with the event name</p>
    <div class="col-md-auto">
        <input type="text" class="form-control form-control-sm" required>
    </div>
    <p>and date</p>
    <div class="col-md-auto">
        <input type="date" class="form-control form-control-sm" required>
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2">Submit Get Relationship Query</button>
<p class="font-weight-bold">Add a Philanthropy</p>
<div class="row mb-3">
    <div class="col-md-auto">
        <label>Event Name</label>
        <input type="text" class="form-control form-control-sm" required id="name3">
    </div>
    <div class="col-md-auto">
        <label>Date</label>
        <input type="date" class="form-control form-control-sm" required id="date3">
    </div>
    <div class="col-md-auto">
        <label>Cause</label>
        <input type="date" class="form-control form-control-sm" required id="cause">
    </div>
    <div class="col-md-auto">
        <label>Partners</label>
        <input type="date" class="form-control form-control-sm" required id="partner">
    </div>
    <div class="col-md-auto">
        <label>Money Raised</label>
        <input type="number" class="form-control form-control-sm" required id="moneyRaised">
    </div>
    <div class="col-md-auto">
        <label>Ticket Price</label>
        <input type="number" class="form-control form-control-sm" required id="ticketPrice">
    </div>
    <div class="col-md-auto">
        <label>Total Attendance</label>
        <input type="number" class="form-control form-control-sm" required id="totAttendace">
    </div>
    <div class="col-md-auto">
        <label>Budget</label>
        <input type="number" class="form-control form-control-sm" required id="budget">
    </div>
    <div class="col-md-auto">
        <label>Location</label>
        <input type="string" class="form-control form-control-sm" required id="location">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="addQuery()">Submit Add Query</button>