<p class="font-weight-bold">Get "Attribute" of "Member"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm" id="attribute">
            <option>Name</option>
            <option>Year</option>
            <option>Join Date</option>
            <option>Badge Number</option>
            <option>Major</option>
            <option>GPA</option>
        </select>
    </div>
    <p>of Member with sid</p>
    <div class="col-md-auto">
        <input type="number" class="form-control form-control-sm" required id="sid1">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="attributeQuery()">Submit Get Attribute Query</button>
<p class="font-weight-bold">Get "Relationship" of "Member"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm" id="relationship">
            <option>Living Location</option>
            <option>Executive Positions</option>
        </select>
    </div>
    <p>of Member with sid</p>
    <div class="col-md-auto">
        <input type="number" class="form-control form-control-sm" required id="sid2">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="relationshipQuery()">Submit Get Relationship Query</button>
<p class="font-weight-bold">Add a Member</p>
<div class="row mb-3">
    <div class="col-md-auto">
        <label>Name</label>
        <input type="text" class="form-control form-control-sm" required id="name">
    </div>
    <div class="col-md-auto">
        <label>Year</label>
        <select class="form-control form-control-sm" id="year">
            <option>Freshman</option>
            <option>Sophomore</option>
            <option>Junior</option>
            <option>Senior</option>
        </select>
    </div>
    <div class="col-md-auto">
        <label>Join Date</label>
        <input type="date" class="form-control form-control-sm" required id="joinDate">
    </div>
    <div class="col-md-auto">
        <label>Badge Number</label>
        <input type="number" class="form-control form-control-sm" required id="badgeNum">
    </div>
    <div class="col-md-auto">
        <label>Major</label>
        <input type="text" class="form-control form-control-sm" required id="major">
    </div>
    <div class="col-md-auto">
        <label>GPA</label>
        <input type="number" class="form-control form-control-sm" required id="gpa">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="addQuery()">Submit Add Query</button>
<p class="font-weight-bold">Add Member with "sid" to "Chapter"</p>
<div class="row">
    <div class="col-md-auto">
        <label>sid</label>
        <input type="number" class="form-control form-control-sm" required id="sid4">
    </div>
    <div class="col-md-auto">
        <label>Chapter</label>
        <div class="form-group col-md-auto">
            <select class="form-control form-control-sm" id="chapter2">
                <option>Beta Theta Pi</option>
                <option>Delta Chi</option>
                <option>Delta Sigma Phi</option>
                <option>Delta Tau Delta</option>
                <option>Delta Upsilon</option>
                <option>Phi Delta Theta</option>
                <option>Phi Gamma Delta</option>
                <option>Phi Kappa Theta</option>
                <option>Phi Kappa Tau</option>
                <option>Phi Kappa Psi</option>
                <option>Pi Kappa Phi</option>
                <option>Sigma Alpha Epsilon</option>
                <option>Sigma Chi</option>
                <option>Sigma Nu</option>
                <option>Theta Chi</option>
                <option>Zeta Beta Tau</option>
                <option>Zeta Psi</option>
                <option>Alpha Chi Omega</option>
                <option>Alpha Gamma Delta</option>
                <option>Alpha Phi</option>
                <option>Delta Gamma</option>
                <option>Kappa Alpha Theta</option>
                <option>Phi Mu</option>
                <option>Phi Sigma Rho</option>
                <option>Pi Beta Phi</option>
                <option>Sigma Psi</option>
                <option>Sigma Sigma Sigma</option>
            </select>
        </div>
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="addMemToChapt()">Submit Add Member to Chapter Query</button>
<p class="font-weight-bold">Set Living Location</p>
<div class="row mb-3">
    <div class="col-md-auto">
        <label>sid</label>
        <input type="number" class="form-control form-control-sm" required id="sid5">
    </div>
    <div class="col-md-auto">
        <label>Address</label>
        <input type="text" class="form-control form-control-sm" required placeholder="1234 Main Street" id="address">
    </div>
    <div class="col-md-auto">
        <label>Year</label>
        <input type="number" class="form-control form-control-sm" required placeholder="2019-2020" id="academicYear1">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2" (click)="setLivingLocationQuery()">Submit Set Living Location Query</button>
<p class="font-weight-bold">Assign Executive Position</p>
<div class="row">
    <div class="col-md-auto">
        <label>sid</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Position</label>
        <input type="text" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Chapter</label>
        <div class="form-group col-md-auto">
            <select class="form-control form-control-sm">
                <option>Beta Theta Pi</option>
                <option>Delta Chi</option>
                <option>Delta Sigma Phi</option>
                <option>Delta Tau Delta</option>
                <option>Delta Upsilon</option>
                <option>Phi Delta Theta</option>
                <option>Phi Gamma Delta</option>
                <option>Phi Kappa Theta</option>
                <option>Phi Kappa Tau</option>
                <option>Phi Kappa Psi</option>
                <option>Pi Kappa Phi</option>
                <option>Sigma Alpha Epsilon</option>
                <option>Sigma Chi</option>
                <option>Sigma Nu</option>
                <option>Theta Chi</option>
                <option>Zeta Beta Tau</option>
                <option>Zeta Psi</option>
                <option>Alpha Chi Omega</option>
                <option>Alpha Gamma Delta</option>
                <option>Alpha Phi</option>
                <option>Delta Gamma</option>
                <option>Kappa Alpha Theta</option>
                <option>Phi Mu</option>
                <option>Phi Sigma Rho</option>
                <option>Pi Beta Phi</option>
                <option>Sigma Psi</option>
                <option>Sigma Sigma Sigma</option>
            </select>
        </div>
    </div>
    <div class="col-md-auto">
        <label>Term</label>
        <input type="number" class="form-control form-control-sm" required placeholder="2019-2020">
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2">Submit Assign Query</button>
<p class="font-weight-bold">Update "Attribute" of "Member"</p>
<div class="row mx-2">
    <p>Update</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Name</option>
            <option>Major</option>
            <option>Average GPA</option>
        </select>
    </div>
    <p>of Member with sid</p>
    <div class="col-md-auto">
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <p>to</p>    
    <div class="col-md-auto">
        <input type="text" class="form-control form-control-sm" required>
    </div>
</div>
<button type="button" class="btn btn-outline-primary btn-sm mb-2">Submit Update Query</button>