<p class="font-weight-bold">Get "Attribute" of "New Member Class"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>Class Size</option>
            <option>Number of Drops</option>
        </select>
    </div>
</div>
<p class="font-weight-bold">Get "Relationship" of "New Member Class"</p>
<div class="row mx-2">
    <p>Get</p>
    <div class="form-group col-md-auto">
        <select class="form-control form-control-sm">
            <option>New Member Educator</option>
            <option>Class President</option>
        </select>
    </div>
</div>
<p class="font-weight-bold">Add a New Member Class</p>
<div class="row">
    <div class="col-md-auto">
        <label>Join Date</label>
        <input type="date" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Chapter Name</label>
        <input type="text" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Class Size</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
    <div class="col-md-auto">
        <label>Number of Drops</label>
        <input type="number" class="form-control form-control-sm" required>
    </div>
</div>